$h2-color: #8A7D63;
$font-h1: "Libre Franklin", "Helvetica Neue", "Arial", sans-serif;
$font-h2: "Merriweather", "Helvetica Neue", "Arial", sans-serif;
$default-font: "ABeeZee", "Helvetica", "Arial", sans-serif;
