@mixin bg-img($width, $color) {
  height: 100%;
  width: $width;
  position: absolute;
  top: 0;
  left: -10vw;
  //clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  transform: skewX(-25deg);
  background-color: $color;
}
