@mixin bg-img($width, $color) {
  height: 100%;
  width: $width;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, calc(100% - 70px) 100%, 0 100%);
  background-color: $color
}
