body {
  background-color: #2B4074;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Libre Franklin", "Helvetica Neue", "Arial", sans-serif;
}

h2 {
  font-family: "Merriweather", "Helvetica Neue", "Arial", sans-serif;
}

hr {
  height: 2px;
  background-color: #8A7D63;
}

li {
  margin-bottom: 10px;
}

.heading__h1 {
  letter-spacing: 3px;
  text-wrap: nowrap;
}

.heading__h2 {
  font-size: 12px;
}
.heading__h2 h2 {
  margin-top: 0;
  color: #8A7D63;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  min-height: 100%;
  background-color: white;
  font-family: "ABeeZee", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}
.container .page-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  width: 100%;
}
.container .page-header .nav-bar {
  height: 13vw;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.container .page-header #nav-bar__bg-0 {
  height: 75%;
  width: 100%;
  background-color: #212932;
  position: absolute;
  top: 0;
  left: 0;
}
.container .page-header #nav-bar__bg-1 {
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  left: -10vw;
  transform: skewX(-25deg);
  background-color: #293b51;
}
.container .page-header #nav-bar__bg-2 {
  height: 100%;
  width: 75%;
  position: absolute;
  top: 0;
  left: -10vw;
  transform: skewX(-25deg);
  background-color: #8a7d63;
}
.container .page-header #nav-bar__bg-3 {
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  left: -10vw;
  transform: skewX(-25deg);
  background-color: #929ca9;
}
.container .page-header #nav-bar__bg-4 {
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  left: -10vw;
  transform: skewX(-25deg);
  background-color: #d9dfdb;
}
.container .page-header .nav-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 5px;
  right: 1vw;
}
.container .page-header .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #293b51;
  cursor: pointer;
  box-shadow: 7px 7px 7px grey;
  transform: skewX(-20deg);
  margin-right: 10px;
  width: 50%;
}
.container .page-header .portfolio .portfolio__btn {
  display: flex;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transform: skewX(20deg);
}
.container .page-header .portfolio .portfolio__dropdown {
  display: none;
  position: absolute;
  bottom: -20px;
  background-color: lightgray;
}
.container .page-header .portfolio:active {
  transform: translateY(1px) skewX(-20deg);
  box-shadow: 1px 0 grey;
}
.container .page-header .portfolio:active .portfolio__dropdown {
  display: block;
}
.container .page-header .resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #293b51;
  cursor: pointer;
  box-shadow: 7px 7px 7px grey;
  transform: skewX(-20deg);
  width: 50%;
}
.container .page-header .resume .resume__btn {
  display: flex;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transform: skewX(20deg);
}
.container .page-header .resume .resume__icon {
  display: flex;
  width: 20%;
  filter: brightness(0) invert(1);
  transform: skewX(20deg);
}
.container .page-header .resume:active {
  transform: translateY(1px) skewX(-20deg);
  box-shadow: 1px 0 grey;
}
.container .page-header .resume__icon img {
  width: 100%;
  min-height: auto;
}
.container .page-header .page-header__content {
  display: inline-block;
  margin-left: 380px;
}
.container .page-header .page-header__content .page-header__content__img {
  position: absolute;
  left: 80px;
  top: 100px;
  max-width: 20%;
}
.container .page-header .page-header__content .page-header__content__img img {
  max-width: 233px;
  min-height: auto;
}
.container .page-header .page-header__content .page-header__content__text {
  margin-top: 70px;
  margin-bottom: 80px;
}
.container .page-header .page-header__content .page-header__content__text h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
}
.container .page-header .page-header__content .page-header__content__text h2 {
  margin-top: 0;
  font-size: 36px;
  color: #8A7D63;
}
.container .page-header .page-header__content .page-header__content__text hr {
  height: 8px;
  width: 200px;
  margin-left: 0;
  background-color: #8A7D63;
  border-radius: 5px;
}
.container .main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}
.container .main .contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.container .main .contact .contact__icon {
  width: 15%;
}
.container .main .contact .contact__icon img {
  max-width: 60%;
  min-height: auto;
}
.container .main .contact .contact__link {
  display: flex;
}
.container .main .contact .contact__link a {
  text-decoration: none;
  color: black;
}
.container .main .page-aside {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.container .main .page-aside .contacts {
  display: flex;
  flex-direction: column;
}
.container .main .page-aside .education {
  display: flex;
  flex-direction: column;
}
.container .main .page-section {
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 90px;
}
.container .main .page-section .page-section__content {
  display: flex;
  flex-direction: column;
}
.container .main .page-section .page-section__content .profile .profile-text {
  margin-right: 80px;
  text-align: justify;
  color: #a6a6a6;
}
.container .main .page-section .page-section__content .work-exp li {
  color: #a6a6a6;
}
.container .main .page-section .page-section__content .work-exp .work-exp__content {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.container .main .page-section .page-section__content .work-exp .work-exp__content .vertical-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #8A7D63;
  width: 3px;
  height: auto;
}
.container .main .page-section .page-section__content .work-exp .work-exp__content .vertical-line .vertical-line__dot {
  height: 6px;
  width: 6px;
  background-color: #8A7D63;
  border-radius: 50%;
  margin: 0 0 70px;
}
.container .main .page-section .page-section__content .work-exp .work-exp__content .work-exp__text {
  margin: 0 80px 0 20px;
  text-align: justify;
}
.container .main .page-section .page-section__content .hard-skills__list {
  column-count: 3;
  color: #a6a6a6;
}
.container .main .page-section .page-section__content .reference .reference__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .main .page-section .page-section__content .reference .reference__content h2 {
  margin-top: 10px;
}
.container .main .page-section .page-section__content .reference .reference__content .contact {
  align-items: center;
  margin-left: 20px;
  margin-bottom: 0;
}
.container .main .page-section .page-section__content .reference .reference__content .contact .contact__icon {
  width: 25%;
  margin-top: 5px;
}
.container .main .page-section .page-section__content .reference .reference__content .contact .contact__link a {
  color: #a6a6a6;
}

/*# sourceMappingURL=main.css.map */
