body {
  background-color: #2B4074;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Libre Franklin", "Helvetica Neue", "Arial", sans-serif;
}

.heading__h1 {
  letter-spacing: 5px;
  margin-right: 50px;
}

.heading__h2 {
  font-size: 12px;
}
.heading__h2 h2 {
  margin-top: 0;
  color: #8A7D63;
}

h2 {
  font-family: "Merriweather", "Helvetica Neue", "Arial", sans-serif;
}

hr {
  height: 2px;
  background-color: #8A7D63;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  min-height: 100%;
  background-color: white;
  font-family: "ABeeZee", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}
.container .page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.container .page-header .nav-bar {
  height: 13vw;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.container .page-header .nav-bar #nav-bar__bg-1 {
  height: 75%;
  width: 100%;
  background-color: #212932;
  position: absolute;
  top: 0;
  left: 0;
}
.container .page-header .nav-bar #nav-bar__bg-2 {
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  left: -10vw;
  transform: skewX(-25deg);
  background-color: #293b51;
}
.container .page-header .nav-bar #nav-bar__bg-3 {
  height: 100%;
  width: 75%;
  position: absolute;
  top: 0;
  left: -10vw;
  transform: skewX(-25deg);
  background-color: #8a7d63;
}
.container .page-header .nav-bar #nav-bar__bg-4 {
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  left: -10vw;
  transform: skewX(-25deg);
  background-color: #929ca9;
}
.container .page-header .nav-bar #nav-bar__bg-5 {
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  left: -10vw;
  transform: skewX(-25deg);
  background-color: #d9dfdb;
}
.container .page-header .nav-bar .nav-bar__btn {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.container .page-header .nav-bar .nav-bar__btn:hover {
  background-color: #929ca9;
  border-radius: 5px;
  color: white;
}
.container .page-header .nav-bar .nav-bar__btn:active {
  transform: translateY(1px);
}
.container .page-header .nav-bar__btn {
  position: absolute;
  right: 0;
}
.container .page-header .page-header__content {
  display: inline-block;
}
.container .page-header .page-header__content .page-header__content__img {
  position: absolute;
  left: 80px;
  top: 100px;
  width: 20%;
}
.container .page-header .page-header__content .page-header__content__img img {
  max-width: 100%;
  min-height: auto;
}
.container .page-header .page-header__content .page-header__content__text {
  margin-top: 70px;
  margin-bottom: 80px;
  padding-left: 10vw;
}
.container .page-header .page-header__content .page-header__content__text h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
}
.container .page-header .page-header__content .page-header__content__text h2 {
  margin-top: 0;
  font-size: 36px;
  color: #8A7D63;
}
.container .page-header .page-header__content .page-header__content__text hr {
  height: 8px;
  width: 200px;
  margin-left: 0;
  background-color: #8A7D63;
  border-radius: 5px;
}
.container .main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}
.container .main .page-aside {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.container .main .page-aside .contacts {
  display: flex;
  flex-direction: column;
}
.container .main .page-aside .contacts .contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.container .main .page-aside .contacts .contact .contact__icon {
  width: 15%;
}
.container .main .page-aside .contacts .contact .contact__icon img {
  max-width: 60%;
  min-height: auto;
}
.container .main .page-aside .contacts .contact .contact__link {
  display: flex;
  align-items: center;
}
.container .main .page-aside .contacts .contact .contact__link a {
  text-decoration: none;
  color: black;
}
.container .main .page-aside .education {
  display: flex;
  flex-direction: column;
}
.container .main .page-aside .soft-skills__list li {
  margin-bottom: 10px;
}
.container .main .page-section {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
}
.container .main .page-section .vertical-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  background-color: #8A7D63;
  width: 3px;
  height: 400px;
}
.container .main .page-section .vertical-line .vertical-line__dot {
  height: 6px;
  width: 6px;
  background-color: #8A7D63;
  border-radius: 50%;
  margin: 0 0 70px;
}
.container .main .page-section .page-section__content {
  display: flex;
  flex-direction: column;
}
.container .main .page-section .page-section__content .profile .profile-text {
  margin-right: 120px;
  text-align: justify;
  color: #a6a6a6;
}
.container .main .page-section .page-section__content .work-exp li {
  color: #a6a6a6;
}

/*# sourceMappingURL=main.css.map */
